
<div class="flex bg-gray-100">
  <input type="checkbox" name="" id="sidebar-toggle">
  <div class="sidebar">
    <div class="sidebar-brand">
      <div class="brand-flex">
        <img src="" alt="Logo" class="logo" width="40px">
        <div class="brand-icons">
          <span class="las la-bell"></span>
          <span class="las la-user-circle"></span>
        </div>
      </div>
    </div>
    <div class="sidebar-main">
      <div class="sidebar-user">
        <img src="/images/images (1).jpg" alt="Logo" class="logo">
        <div>
          <h3>Hiếu địt chó</h3>
          <span>Hieulaconcho111gmail.com</span>
        </div>
      </div>
      <div class="sidebar-menu">
        <div class="menu-head">
          <span class="las la-bars">Dashboard</span>
        </div>
        <ul>
          <li><a routerLink="/dashboard"><span class="las"></span>Dashboard</a></li>
          <li><a routerLink="/users"><span class="las la-users"></span>Users</a></li>
          <li><a routerLink="/inventory"><span class="las la-boxes"></span>Inventory</a></li>
          <li><a routerLink="/orders"><span class="las la-shopping-cart"></span>Orders</a></li>
          <li><a routerLink="/categories"><span class="las la-tags"></span>Categories</a></li>
          <li><a routerLink="/products"><span class="las la-headset"></span>Products</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main-content w-full">
    <header>
      <div class="menu-toggle">
        <label for="sidebar-toggle">
          <span class="las la-bars"></span>
        </label>
      </div>
      <div>
        <span class="las la-search"></span>
        <span class="las la-bookmark"></span>
        <span class="las la-sms"></span>
      </div>
    </header>
    <main>
    </main>
  </div>
</div>
